* {
    margin: 0;
    padding: 0;
  }

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


    


.App{
    background-image:url(images/back.png);
    height: 5700px;
    font-family:'Inter', sans-serif;
}

